select {
	float: left;
	margin-right: 25px;
	width: 250px;
	border: 1px #c0c0c0 solid;
}

ul.mselect_list {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	border: 1px #c0c0c0 solid;
}

ul.mselect_list li {
	list-style: none;
	margin: 0px;
	padding: 3px 0 3px 25px;
	cursor: pointer;
	border-bottom:1px dashed #ddd;
}

ul.mselect_list li:hover,
ul.mselect_list li.selected:hover {
	background-color: #efefef;
}

ul.mselect_list li.selected {
	background: url(check.png) 4px center no-repeat;
}
